.slider-banner-container{
    max-width: 1200px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    .slick-slider{
        button{
            color: #333;
            border-radius: 100px;
            background-color: #98a2b3;
            opacity: 0.3;
        }
        button:hover{
            opacity: 0.5;
        }
    }
    a{
        img{
            max-width: 595px;
            border-radius: 20px;
        }
    }
    
}