.Header{
    background-color: #ffc90c;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: fixed;
    img{
        width: 65%;
    }
}