.search-trend{
    width: 1200px;
    margin: auto;
    h3{
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0 10px 0;
    }
    .search-trend-container{
        ul{
            
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            li{
                margin: 10px 8px 0 0;
                padding: 2px 8px;
                a{
                    text-decoration: none;
                    color: #1d2939;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }   
}