.product-main{
    width: 1200px;
    margin: auto;
    padding-top: 5px;
    .breadcrumb{
        ul{
            list-style: none;
            display: flex;
            padding: 0;
            li{
                
                span svg{
                        font-size: 8px;
                        padding: 2px 5px 0 0;
                    }
                a{
                    text-decoration: none;
                    font-size: 14px;
                    
                }
            }
        }
    }

    .breadcrumb li a:nth-child(1){
        color: #98a2b3;
        padding-right: 10px;
    }

    .breadcrumb li a:nth-child(2){
        color: #333;
        padding-left: 5px;
    }

    .product-name{
        display: flex;
        position: relative;
        h1{
            font-size: 20px;
            margin: 0 10px 5px 0;
        }
        .box{
            display: flex;
            margin-top: 6px;
            span{
                color: #98a2b3;
                font-size: 14px;
                margin-right: 12px;
            }
            .box-left{
                display: flex;
                .detail-rate{
                    display: flex;
                    margin-right: 10px;
                    svg{
                        width: 14px;
                        height: 14px;
                        color: rgb(224, 192, 8);
                        margin: 3px 6px 0 0;
                    }
                    p{
                        margin: 0;
                        font-size: 14px;
                        color: #98a2b3;
                    }
                }
                a{
                    margin-right: 10px;
                    text-decoration: none;
                    color: #288ad6;
                    svg{
                        font-size: 14px;
                    }
                }
            }
            .box-right{
                color: #288ad6;
                svg{
                    color: #288ad6;
                    margin: 2px 2px 0 0;

                }
            }
        }
        .like-page{
            display: flex;
            position: absolute;
            margin-top: 2px;
            right: 0;
            .btn-like{
                // margin-top: 8px;
                a{
                    text-decoration: none;
                    padding: 2px 14px;
                    background-color: rgb(24, 119, 242);
                    border-radius: 5px;
                    svg{
                        width: 13px;
                        color: white;
                        margin-right: 4px;
                        
                    }
                    span{
                        font-size: 12px;
                        color: white;
                        
                    }
                }
            }
            .btn-share{
                a{
                    text-decoration: none;
                    padding: 2px 14px;
                    background-color: rgb(24, 119, 242);
                    border-radius: 5px;
                    margin-left: 6px;
                    span{
                        color: white;
                        font-size: 14px;
                    }
                }
            }

        }
    }
    .box-main{
        width: 100%;
        .boxmain-left{
            width: calc(100%-480px);
            .slider-detail{
                width: 100%;
                .item-img{
                    img{
                        height: 380px;
                    }
                }
            }
        }
    }
}