.big-banner{
    width: 100%;
    .big-banner-container{
        width: 1200px;
        margin: auto;
        z-index: 100;
        a{
            img{
                width: 100%;
                border-radius: 10px;
                position: relative;
                margin: 20px 0;
            }
        }
        svg{
            position: absolute;
            margin-top: 30px;
            right: 370px;
            color: #98a2b3;
            cursor: pointer;
        }
    }
}
